body {
    background: url('/static/images/213.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dummy-video {
    background: #616776;
    height: 324px;
    margin: 14px 0 0 15px;
}

.plate {
    padding: 14px 30px;
    font-size: 2em;
    border: 1px dashed;
    margin-top: 14px;
}

.hide {
    display: none !important;
}