body {
    background: url('/static/images/bg-blue.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dummy-video {
    background: #616777;
    height: 325px;
    margin: 15px 0 0 15px;
}

.plate {
    padding: 15px 30px;
    font-size: 3em;
    border: 2px dashed;
    margin-top: 15px;
}
