{% extends 'vehicle/base.html' %}
{% load static %}
{% block content %}
    <input type="hidden" id="is_first_load" value="yes">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">ACD Vehicle Plate Recognition System <small class="text-muted" style="font-size: small;">System: {{ system }}</small></h1>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <div class="dummy-video">
                    <img src="/api/live-feed?activate=true" alt="" width="100%" height="100%">
                </div>
                <div style="padding: 0 15px 0 0; max-height: 500px; overflow: auto;" id="log-list-html"></div>
            </div>
            <div class="col-6 p-4">
                <h4>
                    Status: <span id="camera-status"></span>
                </h4>
                <h2>Time: <span id="index-time"></span></h2>
                <h2>Date: <span id="index-date"></span></h2>
                <hr>
                <button class="btn btn-block btn-outline-success" data-toggle="modal" data-target="#manualInputModal">Manual Input</button>
                <div id="plate-number" class="plate text-center">--- ---</div>
                <table class="table table-light table-bordered">
                    <tbody>
                        <tr>
                            <td>Status</td>
                            <td>
                                <div id="reg-status"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Vehicle Type</td>
                            <td>
                                <div id="vehicle-type"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Registerd Owner</td>
                            <td>
                                <div id="reg-owner"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Registerd Color</td>
                            <td>
                                <div id="reg-color"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="action-html"></div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="manualInputModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manual Input</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <label for="plate_number">Plate Number</label>
                      <input type="text" class="form-control text-uppercase" name="plate_number" id="plate_number" aria-describedby="helpId" placeholder="">
                      <small id="helpId" class="form-text text-muted">Input plate number for manual search or registration of vehicles.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<!-- <script src="{% static 'js/opencv.js' %}"></script> -->
<script>
    var request = new XMLHttpRequest();

    setInterval(() => {
        request.open('GET', '/api/check-captured', true);

        request.onload = function() {
            var is_first_load = $('#is_first_load').val();
            if (this.status >= 200 && this.status < 400) {
                // Success!
                $('#is_first_load').val('no');
                var resp = JSON.parse(this.response);
                console.log(resp);
                $('#camera-status').html(`<span class="text-success">Running...</span>`);
                $('#plate-number').text(resp.plate);
                var data = {
                    status: {type: 'warning', text: 'Unregistered'},
                    type: {type: 'primary', text: resp.v_type.toUpperCase()},
                    owner: {type: 'muted', text: 'N/A'},
                    color: {type: 'muted', text: 'N/A'},
                };
                if (resp.registered) {
                    data.status.type = 'success';
                    data.status.text = 'Registered';
                }
                if (is_first_load == 'yes' || !resp.same_entry) {
                    loadHtml('inout-partial/', '#action-html', resp.is_valid);
                    setTimeout(() => {
                        loadHtml('list-partial/', '#log-list-html', true, false); 
                    }, 1000);
                }
                
                $('#reg-status').html(`<span class="text-${data.status.type}">${data.status.text}</span>`);
                $('#vehicle-type').html(`<span class="text-${data.type.type}">${data.type.text}</span>`);
                $('#reg-owner').html(`<span class="text-${data.owner.type}">${data.owner.text}</span>`);
                $('#reg-color').html(`<span class="text-${data.color.type}">${data.color.text}</span>`);
            } else {
                // We reached our target server, but it returned an error
                clear();
            }
        };

        request.onerror = function() {
            // There was a connection error of some sort
            clear();
        };

        request.send();
    }, 5000);

    clear = () => {
        $('#camera-status').html(`<span class="text-muted">Stopped</span>`);
        $('#plate-number').text('--- ---');
        $('#reg-status').html(`<span class="text-muted">N/A</span>`);
        $('#vehicle-type').html(`<span class="text-muted">N/A</span>`);
        $('#reg-owner').html(`<span class="text-muted">N/A</span>`);
        $('#reg-color').html(`<span class="text-muted">N/A</span>`);
    };

    loadHtml = (url, element, is_valid=true, cleared=true) => {
        console.log(url, element);
        if (cleared) {
            $(element).html('');
        }
        if (is_valid) {
            request.open('GET', '/api/' + url, true);

            request.onload = function() {
                if (this.status >= 200 && this.status < 400) {
                    var resp = this.response;
                    $(element).html(resp);
                } else {
                    $(element).html('');
                }
            };
            request.onerror = function() {
                $(element).html('');
            };
            request.send();
        }
    };
</script>
{% endblock script %}