{% extends 'vehicle/base.html' %}
{% load static %}
{% block content %}



<br>
<table class="table table-dark">
  <thead>
  <th><center><h2>Program Developers of ACD-VPR-SYS</h2></center></th>
    <tr>

      <th scope="col">
        <center><img src="{% static 'images/delima.jpg' %}" class="card-img-top" style="width: 35%;"></center>
      </th>
      <th scope="col"><left>Aldrien B. Delima<br>19 Years Old<br>Barangay San Antonio beach, Agdao,
        Davao City<br>Code Infrastructure Developer<br>
          <a href="http://www.assumptiondavao.edu.ph">Assumption College of Davao</a><br>
        Bachelor of Science Information Technology<br>

       <br>
          Goal:<br>
          To have my own business information system company and<br>
          contribute to the development of digital technology. Travel<br>
          the world with leisure and friends.<br><br>
          <a href="https://www.facebook.com/yayan.aldrien"><img src="{% static 'images/Facebook.png' %}" width = 50 height = 50></a>
          <a href="https://wwww.gmail.com"><img src="{% static 'images/Gmail.png' %}" width = 50 height = 50></a></left></th>
    </tr>
  </thead>
  <tbody>

     <th scope="col">
      <center><img src="{% static 'images/TomadaPic.jpg' %}" class="card-img-top" style="width: 35%;"></center>
      </th>
      <th scope="col"><left><br><br><br><br><br>Jeannevin P. Tomada<br>23 Years Old<br>San Roque, Barangay San Antonio, Agdao, Davao City<br>
          Design Infrastructure Developer<br>
          <a href="http://www.assumptiondavao.edu.ph">Assumption College of Davao</a><br>
        Bachelor of Science Information Technology<br>

       <br>
          Goal:<br>
          To build my own business locally and globally,<br>
          in line with coffee industry. Travel the world and <br>experience global culture.<br><br>
          <a href="https://www.facebook.com/jeannevin.tomada"><img src="{% static 'images/Facebook.png' %}" width = 50 height = 50></a>
          <a href="https://wwww.gmail.com"><img src="{% static 'images/Gmail.png' %}" width = 50 height = 50></a></left></th>
    <tr>

  <th scope="col">
        <center><img src="https://scontent.fcgy1-1.fna.fbcdn.net/v/t1.0-0/p640x640/84466068_2983146255038993_401189265871994880_o.jpg?_nc_cat=107&_nc_oc=AQn0kYHiGoXRnZeH51-d_71sNtbTalysN9UU5UHKJI76gLWJaYY1FzdZQFNtCQrIuPQ&_nc_ht=scontent.fcgy1-1.fna&_nc_tp=6&oh=e19b25351742c2b8ff5e9a42facbe034&oe=5EB89624" class="card-img-top" style="width: 35%;"></center>
      </th>
        <th scope="col"><left>Antonette A. Tutor<br>22 Years Old<br>Abrezza, J.P, Laurel, Bajada, Davao City<br>Data Researcher and Encoder<br>
          <a href="http://www.assumptiondavao.edu.ph">Assumption College of Davao</a><br>
        Bachelor of Science Information Technology<br>

       <br>
          Goal:<br>
          To have my own business information system company and<br>
          contribute to the development of digital technology. Travel<br>
          the world with leisure and friends.<br><br>
          <a href="https://www.facebook.com/antonette042198"><img src="{% static 'images/Facebook.png' %}" width = 50 height = 50></a>
          <a href="https://wwww.gmail.com"><img src="{% static 'images/Gmail.png' %}" width = 50 height = 50></a></left></th>
    </tr>
    <tr>

      <th scope="col">
        <center><img src=https://i.ibb.co/0235X1n/mart.jpg" class="card-img-top" style="width: 35%;"></center>
      </th>
      <th scope="col"><left>Martin Torralba<br>23 Years Old<br>Rivera Subd, Bajada
        Davao City<br>Researcher and Developer<br>
          <a href="http://www.assumptiondavao.edu.ph">Assumption College of Davao</a><br>
        Bachelor of Science Information Technology<br>

       <br>
          Goal:<br>
          To have my own business information system company and<br>
          contribute to the development of digital technology. Travel<br>
          the world with leisure and friends.<br><br>
          <a href="https://www.facebook.com/martinalfonso.torralba"><img src="{% static 'images/Facebook.png' %}" width = 50 height = 50></a>
          <a href="https://wwww.gmail.com"><img src="{% static 'images/Gmail.png' %}" width = 50 height = 50></a></left></th>
    </tr>
  </tbody>
</table>
























{% endblock content %}