{% extends 'vehicle/base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-dark mb-3">
                <div class="card bg-dark mb-3">
                    <div class="card-header">
                        <center><h4><font color = white>You successfully logged out from the system</font></h4></center>
                    </div>
                    <div class="card-body">
                    <a class="btn btn-primary btn-block" href="{% url 'login' %}">Log Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}