{% extends 'vehicle/base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                            <h2>You have been logged out</h2>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-block" href="{% url 'login' %}">Log In Again</a>
                        <a class="btn btn-link btn-block" href="{% url 'vehicle-landing' %}">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}